.pupil-in-class {
  text-decoration-line: none !important;
}

.prefer-to-be {
  color: green !important;
}

.prefer-not-to-be {
  color: red !important;
}

.pupil-is-alone {
  text-decoration-line: underline !important;
  text-decoration-color: red !important;
}