@import '../../../CustomColors.scss';

.selected-pupil {
  font-weight: bold !important;
  background-color: lighten($primary, 20%) !important;
}

.pupil-in-class {
  text-decoration-line: none !important;
}

.prefer-to-be {
  background-color: darken($success, 15%) !important;
  color: white !important;
  padding: 3px 5px;
}

.prefer-not-to-be {
  background-color: red !important;
  color: white !important;
  padding: 3px 5px;
}

.pupil-is-alone {
  text-decoration-line: underline !important;
  text-decoration-color: red !important;
}