$custom-blue:#8BCFD0;

$primary: #F48E77;
$secondary: #FFE59A;
$dark: #363D3D;
$light: #F4EFE9;
$success: $custom-blue;
$danger: #F55E3C;
$body-bg:#F5F5F5;
$table-border-color:transparentize($primary,0.75);