$custom-blue: #99D3D5;

$body-color: #22375B;
$primary: #F48E77;
$secondary: $custom-blue;
$dark: #363D3D;
$light: #F4EFE9;
$success: #60d394;
$danger: #ee6055;
$body-bg: #F5F5F5;
$table-border-color: transparentize($primary,0.75);

$input-bg: #fff;
$input-border-radius: 10px;
$input-border-width: 2px;
$input-border-color: transparentize($dark, 0.9);

$breadcrumb-font-size: 0.85rem;
$breadcrumb-active-color: $dark;