@import "CustomColors";

#main {
  height: 100vh;
  overflow: auto;
}

.menuItem .item-content {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 1.25rem;
}

.menuItem.active{
  font-weight: bold;
  color: $primary;
  background: $light;
}

.menuItem{
  color: opacify(#BCAFA0, 1);
  background: $light;
}

.btn:not([class*="outline"]):not(.btn-link):not(.btn-secondary) {
  color: white;
}

.btn.btn-secondary {
  color: $dark
}

.btn-link {
  color: $dark;
  opacity: 0.75;
}

.table {
  color: $dark;
}

thead th{
  color: $dark;
  opacity: 0.5;
}

.table > thead{
  border-bottom-color: transparentize($primary, 0.25);
  border-bottom-width: 2px;
}

tbody th{
  color: $dark;
  opacity: 0.5;
}

.page-header {
  border-bottom: 2px solid $custom-blue;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}